<div class="homepage">
  <div class="homepage__hero-section homepage__section">
    <div class="homepage__title">
      <h1 class="homepage__main-title">
        Ruban <br> on <br> Rails
      </h1>

      <p class="homepage__tagline">
        Learn Ruby, Ruby on Rails, Stimulus, CSS, Figma and more with
        fun illustrated tutorials.
      </p>

      <a href="https://world.hey.com/alexandre" class="homepage__newsletter-link" rel="noopener noreferrer">
        Subscribe to the newsletter &rarr;
      </a>
    </div>

    <div class="homepage__social-links">
      <a
        href="https://github.com/alexandreruban/ruban-on-rails"
        class="btn btn--primary btn--small"
        rel="noopener noreferrer"
      >
        <%= inline_svg "icons/github" %> GitHub
      </a>
      <a
        href="https://twitter.com/alexandre_ruban"
        class="btn btn--primary btn--small"
        rel="noopener noreferrer"
      >
        <%= inline_svg "icons/twitter" %> Twitter
      </a>
      <a
        href="https://world.hey.com/alexandre"
        class="btn btn--primary btn--small"
        rel="noopener noreferrer"
      >
        <%= inline_svg "icons/email" %> Newsletter
      </a>
    </div>
  </div>

  <div class="homepage__courses-section homepage__section">
    <article class="course-card">
      <div class="course-card__image-wrapper">
        <%= image_tag "courses/stimulus", class: "course-card__image" %>
      </div>

      <div class="course-card__content">
        <h3 class="course-card__title">
          Worlde clone with Stimulus
        </h3>

        <p class="course-card__description">
          Stimulus.js is the default JavaScript library for Rails.
          It's easy to learn and has enough features for 99% of Rails applications.
          In this tutorial, we'll learn how to use it by building a Wordle clone from scratch.
        </p>

        <div class="course-card__footer">
          <a href="#" class="btn btn--primary">Read the tutorial &rarr;</a>
        </div>
      </div>
    </article>

    <article class="course-card">
      <div class="course-card__image-wrapper">
        <%= image_tag "courses/stimulus", class: "course-card__image" %>
      </div>

      <div class="course-card__content">
        <h3 class="course-card__title">
          Worlde clone with Stimulus
        </h3>
        <p class="course-card__description">
          Stimulus.js is the default JavaScript library for Rails.
          It's easy to learn and has enough features for 99% of Rails applications.
          In this tutorial, we'll learn how to use it by building a Wordle clone from scratch.
        </p>

        <div class="course-card__footer">
          <a href="#" class="btn btn--primary">Read the tutorial &rarr;</a>
        </div>
      </div>
    </article>

    <article class="course-card">
      <div class="course-card__image-wrapper">
        <%= image_tag "courses/stimulus", class: "course-card__image" %>
      </div>

      <div class="course-card__content">
        <h3 class="course-card__title">
          Worlde clone with Stimulus
        </h3>
        <p class="course-card__description">
          Stimulus.js is the default JavaScript library for Rails.
          It's easy to learn and has enough features for 99% of Rails applications.
          In this tutorial, we'll learn how to use it by building a Wordle clone from scratch.
        </p>

        <div class="course-card__footer">
          <a href="#" class="btn btn--primary">Read the tutorial &rarr;</a>
        </div>
      </div>
    </article>
  </div>
</div>
